
{% load static %}
<title>{% block title %} Dashboard {% endblock %}</title>

<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
<head>
     <meta charset="utf-8" />
    <title>AMB Oils</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="AMB Oils" name="description" />
    <meta content="AMB Oils" name="author" />



    <link rel="shortcut icon" href="{% static 'web_app_assets/assets/images/favicon.ico' %}">

    <!-- jsvectormap css -->
    <link href="{% static 'web_app_assets/assets/libs/jsvectormap/css/jsvectormap.min.css' %}" rel="stylesheet" type="text/css" />

    <!--Swiper slider css-->
    <link href="{% static 'web_app_assets/assets/libs/swiper/swiper-bundle.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Layout config Js -->
    <script src="{% static 'web_app_assets/assets/js/layout.js' %}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'web_app_assets/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'web_app_assets/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'web_app_assets/assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{% static 'web_app_assets/assets/css/custom.min.css' %}" rel="stylesheet" type="text/css" />

        <link href="{% static 'web_app_assets/assets/libs/dropzone/dropzone.css' %}" rel="stylesheet" type="text/css" />

  <link href="{% static 'web_app_assets/assets/libs/glightbox/css/glightbox.min.css' %}" rel="stylesheet" type="text/css">


   <link href="{% static 'web_app_assets/assets/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />


<style type="text/css">

 /*google translate Dropdown */

 #google_translate_element select{
 background:#becfe1;
 color:black;
 border: none;
 border-radius:3px;
 padding:6px 8px
 }

 /*google translate link | logo */
   .goog-logo-link{
   display:none!important;
   }
 .goog-te-gadget{
 color:transparent!important;
 }

 /* google translate banner-frame */

 .goog-te-banner-frame{
 display:none !important;
 }

 #goog-gt-tt, .goog-te-balloon-frame{display: none !important;}
.goog-text-highlight { background: none !important; box-shadow: none !important;}

 body{top:0!important;}
   </style>





</head>


    <body>


{% include 'navbar.html' %}

{% block content %}


{% endblock %}

    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <!-- JAVASCRIPT -->
    <script src="{% static 'web_app_assets/assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'web_app_assets/assets/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'web_app_assets/assets/libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'web_app_assets/assets/libs/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'web_app_assets/assets/js/pages/plugins/lord-icon-2.1.0.js' %}"></script>
    <script src="{% static 'web_app_assets/assets/js/plugins.js' %}"></script>

    <!-- apexcharts -->
    <script src="{% static 'web_app_assets/assets/libs/apexcharts/apexcharts.min.js' %}"></script>

    <!-- Vector map-->
    <script src="{% static 'web_app_assets/assets/libs/jsvectormap/js/jsvectormap.min.js' %}"></script>
    <script src="{% static 'web_app_assets/assets/libs/jsvectormap/maps/world-merc.js' %}"></script>

    <!--Swiper slider js-->
    <script src="{% static 'web_app_assets/assets/libs/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Dashboard init -->

    <script src="{% static 'web_app_assets/assets/js/pages/dashboard-crm.init.js' %}"></script>

    <script src="{% static 'web_app_assets/assets/js/pages/ecommerce-product-list.init.js' %}"></script>

    <!-- App js -->
    <script src="{% static 'web_app_assets/assets/js/app.js' %}"></script>

    <!-- prismjs plugin -->
    <script src="{% static 'web_app_assets/assets/libs/prismjs/prism.js' %}"></script>
    <script src="{% static 'web_app_assets/assets/libs/list.js/list.min.js' %}"></script>
    <script src="{% static 'web_app_assets/assets/libs/list.pagination.js/list.pagination.min.js' %}"></script>

    <!-- listjs init -->
    <script src="{% static 'web_app_assets/assets/js/pages/listjs.init.js' %}"></script>

    <!-- Sweet Alerts js -->
    <script src="{% static 'web_app_assets/assets/libs/sweetalert2/sweetalert2.min.js' %}"></script>
    <!-- ecommerce product list -->
    <script src="{% static 'web_app_assets/assets/js/pages/ecommerce-product-list.init.js' %}"></script>

<script src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit'></script>

 <script src="{% static 'web_app_assets/assets/libs/dropzone/dropzone-min.js' %}"></script>

    <script src="{% static 'web_app_assets/assets/js/pages/ecommerce-product-create.init.js' %}"></script>
 <script src="{% static 'web_app_assets/assets/js/pages/form-wizard.init.js' %}"></script>

 <script src="{% static 'web_app_assets/assets/js/pages/ecommerce-product-details.init.js' %}"></script>

 <script src="{% static 'web_app_assets/assets/js/pages/ecommerce-order.init.js' %}"></script>
 <!-- glightbox js -->
 <script src="{% static 'web_app_assets/assets/libs/glightbox/js/glightbox.min.js' %}" type="text/javascript"></script>

 <!-- fgEmojiPicker js -->
 <script src="{% static 'web_app_assets/assets/libs/fg-emoji-picker/fgEmojiPicker.js' %}" type="text/javascript"></script>
    <!-- calendar min js -->
    <script src="{% static 'web_app_assets/assets/libs/fullcalendar/main.min.js' %}"></script>

    <!-- Calendar init -->
    <script src="{% static 'web_app_assets/assets/js/pages/calendar.init.js' %}"></script>





 <script>
 function googleTranslateElementInit() {
 new google.translate.TranslateElement({
 pageLanguage: 'en',
 autoDisplay: 'true',
 layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL
 }, 'google_translate_element');
 }
 </script>


</html>