{% extends 'base_for_dashboard.html' %}
{% load static %}
{% block title %}
    Add Task
{% endblock %}
{% block content %}


    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>

    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Create Task</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Task List View</a></li>
                                    <li class="breadcrumb-item active">Create Task</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                {% include '_messages.html' %}

                <form method="post" action="{% url 'create_task' %}" autocomplete="off"
                      class="needs-validation" novalidate enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label class="form-label" for="product-title-input">Task Title</label>

                                        <input type="text" class="form-control" name="task_title"
                                               id="product-title-input" value=""
                                               placeholder="Enter Task title" required>
                                        <div class="invalid-feedback">Please Enter a task title.</div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="product-description">Task Description</label>

                                        <textarea rows="4" cols="5" class="form-control"
                                                  id="task-description" name="task_description"
                                                  placeholder="Enter Task Description" required></textarea>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="product-price-input">Set Priority</label>
                                        <div class="input-group has-validation mb-3">
                                            <select class="form-select" id="set_priority" name="set_priority"
                                                    data-choices data-choices-search-true>
                                                <option value="High">High</option>
                                                <option value="Medium">Medium</option>
                                                <option value="Low">Low</option>


                                            </select>

                                        </div>

                                    </div>


                                    <div class="mb-3">

                                        <label for='product_code'>Due Date</label>

                                        <input type="date" class="form-control" id="due_date" name="due_date"
                                               placeholder="Product Code" required/>

                                    </div>
                                    <div>


                                    <h5 class="fs-14 mb-1">Associate Documents</h5>
                                    <p class="text-muted">Add any attached document (optional).</p>

                                    <div class="dropzone">
                                        <div class="fallback">
                                            <input name="associated_doc" type="file" multiple="multiple">
                                        </div>
                                        <div class="dz-message needsclick">
                                            <div class="mb-3">
                                                <i class="display-4 text-muted ri-upload-cloud-2-fill"></i>
                                            </div>

                                            <h5>Drop files here multiple files or click to upload.</h5>
                                        </div>
                                    </div>
                                        </div>



                                    <!-- end dropzon-preview -->
                                </div>





                            </div>
                             <div class="col-md-12">
                                <button type="submit" class="btn btn-success ">Submit</button>
                            </div>

                        </div>
                        <!-- end card -->


                        <!-- end card -->


                        <!-- end card -->

                    </div>
                </form>
                    <!-- end col -->
                    <div class="col-lg-8">
                    </div>


            </div>


            <!-- end row -->

            </form>

        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
    <!-- END layout-wrapper -->


    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->


    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>


    <script>
        $(document).ready(function () {
            $('.Select').select2();
        });
    </script>
{% endblock %}